@model TheRecordStore.Models.Record

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Record</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Artist)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Album)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Album)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RecordId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
