@model IEnumerable<TheRecordStore.Models.Record>

@{
    ViewData["Title"] = "Index";
}

<h1>Browse our Records</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (Record r in Model) {
            @if (r.Stock > 0)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => r.Artist)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => r.Album)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => r.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => r.Stock)
                    </td>
                    <td>
                        <a asp-action="AddToCart" asp-route-id="@r.RecordId">Add To Cart</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
